@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none; 
}

/* Variaveis */
:root {
    --color-light: #ffffff;
    --color-darkgreen: #157c00;
    --color-fadedyellow: #a1941aa2;
    --color-yellow: #ffe600da;
    --color-lightyellow: #ffe77c;
    --color-fadedred: #ff0000b2;
    --color-lightred: #f74438;
    --color-red: hsl(4, 100%, 50%);
    --color-black: #000000;
    --color-yellowcard: #ffd000a8;
    --color-cardfadein: #ffd257;
    --transition: .5s;
}

body {
    background-color: var(--color-black);
    color: var(--color-black);
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.75) 24%, rgba(255, 255, 255, 0) 100%), url(../images/iaragames-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
    background:  linear-gradient(0deg,rgba(214, 192, 26, 1) 13%, rgba(222, 122, 16, 1) 94%);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    
    
}

h1 {
    text-align: center;
    margin: 50px 0px 10px;
    padding: 0px 5px 15px;
    color: var(--color-yellow);
    
}

h3 {
    text-align: center;
    margin: 80px 0px 10px;
    padding: 0px 5px 15px;
}

a{
    color: var(--color-light);
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.box {
    display: flex;
    justify-content: center;
    margin: 15px;
    
}


input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-black);
    border-radius: 4px;
    background-color: #f1f8f6;
}


input:focus {
    outline: none;
    border-color: #ff7300; 
    box-shadow: 0 0 5px var;
}


button {
    width: 100%;
    background-color: var(--color-black); 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: var(--transition);
    padding: 10px 15px;
    margin: 5px;
    width: 136px;
    cursor: pointer;

}

button:hover {
    background-color: var(--color-darkgreen);
    transition: var(--transition);
}

.no-acc {
    text-align: center;
    color: var(--color-light);
}

.login-link {
    text-align: center;
    text-decoration: underline;
    color: #007be5;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
}

