@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    
}

/* Variaveis */
:root {
    --color-light: #ffffff;
    --color-darkgreen:  rgb(0, 134, 101);;
    --color-fadedyellow: #a1941aa2;
    --color-yellow: #d6c01a; 
    --color-lightyellow: #ffe77c;
    --color-fadedred: #ff0000b2;
    --color-lightred: #f74438;
    --color-red: hsl(4, 100%, 50%);
    --color-black: #000000;
    --color-yellowcard: #ffd000a8;
    --color-cardfadein: #ffd257;
    --color-fadedorange: #c74900;
    --transition: 0.5s;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: var(--color-black);
    color: var(--color-lightyellow);
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0) 24%, rgba(255, 255, 255, 0) 100%), url(../images/iaragames-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 2rem;
}

#ChronoTeia {
    background-color: var(--color-black);
    background-image: url(../images/1ChronoTeia/img-fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Horizontes-Perdidos {
    background-color: var(--color-black);
    background-image: url(../images/2Horizontes-Perdidos/img-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#EcosdoAbismo {
    background-color: var(--color-black);
    background-image: url(../images/3Ecos-do-Abismo/ecoimg\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#LendasEstrelarium {
    background-color: var(--color-black);
    background-image: url(../images/4Lendas-de-Estrelarium/img-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#SenhosdeNeon {
    background-color: var(--color-black);
    background-image: url(../images/5Sonhos-de-neon/fundo-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#ReinoCinzas {
    background-color: var(--color-black);
    background-image: url(../images/6Reino-sob-as-Cinzas/fundo-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu-barras, .logo-iara {
    display: none;
}

h1 {
    color:#fce148;
    font-size: 3rem;
}

h2 {
    color:#fce148;
    font-size: 2.5rem;
}

h3 {
    color:#fce148;
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-size: 1.6rem;
    font-weight: 600;
}

/* header */
header, main {
    margin:30px 10%;
}

header {
    height: 65px;
    margin: 0px;
    width: auto;
    padding: 10px 40px;
    justify-items: center;
    background: rgb(0, 69, 134);
    color: white;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.nav-btn {
    border: 2px solid var(--color-cardfadein);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--color-yellow);
    transition: var(--transition);
}

.nav-btn a {
    color: #000000;
    font-weight: 500;
}

.nav-btn:hover, .btn-noline, a:hover {
    background-color: transparent;
    transition: var(--transition);
    color: #fce148;
}


.logo-iaragames {
    height: 100%;
}

ul, li {
    display: flex;
    gap: 15px;
    font-size: 1.6rem;
    list-style: none;
    align-items: center;
}

a {
    text-decoration:none;
    color: white;
}

/* linhas divisoras do nav */
.linha {
    border: 3px solid;
    height: 90%;
    opacity: 70%;
    border-radius: 0px 20px 0px 20px ;
}
/* fim header */


/* main */
main {
    height: 80%;
    width: auto;
    padding: 10px;
    justify-items: center;
}

.titulo1 {
    margin: 20px 5px 5px 5px ;
}

.text-top  {
    height: 50%;
    margin: 10px;
    width: 65%;
    font-weight: 500;
    text-align: center;
}

.sobre-nos  {
    border: 10px solid var(--color-yellow);
    padding: 10px 20px;
    margin: 135px 5px 5px 5px;
    width: 100%;
    height: 100%;
    font-weight: 500;
    text-align: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    transition: 0.5s;
}

.corte-lateral {
    display: flex;
    
}

.sideline {
    border: 5px solid;
    margin: 15px 50px;
    color: var(--color-yellow);
    border-radius: 20px;
    
}

.game-cards {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    background: linear-gradient(0deg,rgba(214, 192, 26, 1) 13%, rgba(222, 122, 16, 1) 94%);
    border-radius: 9px;
    height: 200px;
    padding: 15px;
    margin: 25px;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 15px 15px 40px 5px var(--color-black) ;
    overflow: hidden;
}

.cards:hover {
    box-shadow: 0px 0px 50px -10px  #ff7300;
}

.game-img {
    width: 100%;
    height: 85%;
    border-radius: 10px;
}

.titulo-jogo {
    color: var(--color-black);
    font-weight: 700;
    padding: 5px 2px;
}

.link-lista {
    color: royalblue;
    text-decoration: underline;
}

.icon-sociais {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    gap:30px ;
    margin: 20px auto;
    transition: 0.5s;
}

.link-lista-p {
    margin: 30px;
}

#rede-social:hover {
    color:#ff4800;
    transition: 0.5s;
}

.logo-iaragames-footer {
    width: 12%;
}
/* fim main */


/* top-info pagina de lista de jogos */
.hero-content {
    display: flex;
}

.linha-vertical {
    border: 5px solid;
    height: 100%;
    color: var(--color-yellow);
    border-radius: 20px;
}

.hero-section {
    margin: 30px 5px 30px 50px ;
}

.hero-title {
    font-size: 2rem;
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.text-info {
    font-size: 1.7rem;
    margin: 35px 10%;
    justify-content: center;

}

.btn {
    margin: 35px 10%;
    justify-content: center;
    background-color: var(--color-yellow);
    color: var(--color-black);
    font-weight: 700;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.6rem;
}

.btn-content {
    justify-content: center;
}

/* top-info pagina de lista de jogos */


/* cards da pagina lista de jogos */

.jogo-lists {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 50px 40px;
}

.jogo-item {
    background: linear-gradient(0deg,rgba(214, 192, 26, 1) 13%, rgba(222, 122, 16, 1) 94%);
    color: var(--color-black);
    border-radius: 8px;
    height: 260px;
    width: 300px;
    padding: 15px;
    margin: 15px ;
    overflow: hidden;
    transition: var(--transition);
    box-shadow: 2px 0px 20px 10px var(--color-black);
}

.card-jogo {
    text-align: center;
}

.jogo-img {
    height: 200px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 2px 0px 20px 1px var(--color-black);

}

.nome-do-jogo {
    margin: 0px 0px 15px;
    color: var(--color-black);
}

.spotlight-do-jogo {
    margin: 5px;
}

.btn-saiba-mais  {
    padding: 10px;
    margin: 12px;
    text-align: center;
    background-color: var(--color-black);
    border-radius: 8px;
}

/* cards da pagina lista de jogos */


/*hover dos cards*/

.jogo-item:hover {
    height: 400px;
    transition: var(--transition);
    box-shadow: 2px 0px 15px 0px var(--color-fadedorange);
}

.jogo-item:hover img {
    transform: scale(0.6) translateY(-60px);
    transition: var(--transition);
}

.jogo-item:hover h3 {
    transform: translateY(-60px);
    transition: var(--transition);
}

.jogo-item:hover p {
    transform: translateY(-60px);
    transition: var(--transition);
}

.jogo-item:hover .btn-saiba-mais {
    transform: translateY(-60px);
    transition: var(--transition);
}

.btn-saiba-mais:hover  {
    background-color: var(--color-darkgreen);
}

.btn-saiba-mais:hover a {
    color: var(--color-lightyellow);
    font-weight: 600;
}

/*hover dos cards*/

/* cards da pagina lista de jogos */


/*pagina do jogo*/ 

.page-content {
    padding: 10px;
}

.game-content {
    margin: 10px;
    padding: 10px;
}

.game-img-container {
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 70px 0px;
}

.game-image {
    width: 280px;
    height: 210px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 2px 0px 20px 1px var(--color-black);
}

.game-image:hover {
    box-shadow: 2px 0px 20px 1px var(--color-fadedorange);
    transition: var(--transition);
}

.btn-bottom {

    justify-content: center;
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 20px;
}

button {
    width: 100%;
    background-color:var(--color-yellow); 
    color: var(--color-black);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    padding: 10px 15px;
    margin: 5px;
    width: 100%;
    cursor: pointer;
}

.buy-box {
    display: flex;
    justify-content: right;
}

.buy-section {
    border: 1px solid #ffdf2c;
    width: 320px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.valor {
    padding: 2px;
    margin: 2px;
}

.valor-riscado {
    margin: 1px;
    text-decoration: line-through;
    color: #ff0000;
}

.desconto {
    padding: 1px;
    margin: 1px;
    color: #73ff00;
}

.btn-buy {
    padding: 2px 6px 2px 2px;
    margin: 2px;
}

.btn-add {
    padding: 2px 6px 2px 2px;
    margin: 2px;
}

.botao {
    padding: 12px;
    margin: 2px;
    font-size: 1.5rem;
    border-radius: 2px;
    font-weight: 700;
    transition: var(--transition);
}

.botao:hover {
    background-color: #73ff00;
    transition: var(--transition);
    color: #023800;

}


/*pagina do jogo*/ 





/* footer */

footer {
    padding: 10px;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(42, 123, 155, 0.4) 0%, rgba(87, 199, 133, 0.3) 50%, rgba(237, 221, 83, 0.3) 100%);
    color: #ffffff;
}

/* fim footer */



@media (max-width: 768px) {
    .text-top {
    width: 400px;
    }

    .cards {
        width: 250px;
        height: 220px;
        
    }

    .sideline { 
        margin: 15px 10px;
    }

    .sobre-nos {
        width: 380px;
    }

    h1 {
        color:#fce148;
        font-size: 2rem;
    }
    
    h2 {
        color:#fce148;
        font-size: 1.6rem;
    }
    
    h3 {
        color:#fce148;
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1.3rem;
    }

    .logo-iaragames-footer {
        width: 10rem;
    }

    .titulo-jogo {
        font-size: 1.6rem;
    }

    nav {
        padding: 0px 30%;
    }

    header {
        display: none;
    }
    

.icone-barras {
    font-size: 23px;
}

.menu-barras {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35px;
    width: 100px;
    position: absolute;
    margin: 2px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    justify-items: start;
    overflow: hidden;
    transition: 0.5s;
    
}

.menu-barras:hover {
    background: rgb(0, 134, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
    width: 100px;
    position: absolute;
    border-radius: 0px 0px 5px 5px ;
    justify-items: start;
    transition: 0.5s;
    
    
}

.icone-container {
    padding: 4px 10px;
    margin: -2px 53px 0px 5px;

}

.nav-item {
    margin: 5px;
    justify-content: left;
    font-size: 13px;

}

.opção:hover {
    color: var(--color-lightyellow);
}

/* configuração de logo para telas menores */
.logo-iara {
    background: rgb(0, 134, 101);
    display: flex;
    justify-content: center;
}

.menu-nav {
    margin: 15px 0px;
    
}

.logo-iaragames {
    width: 200px;
    height: 50%;
}
}

@media (min-width: 1366px) {
    .jogo-lists { 
        margin: 50px 16%;
    }
}









